Package: nuboplatform-server
Version: %Version%
Architecture: all
Depends: nodejs, nubo-common, wget, nfs-common, pulseaudio, pulseaudio-utils, gstreamer1.0-libav, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-pulseaudio, gstreamer1.0-tools
Recommends:
Maintainer: NuboSoftware <alexander@nubosoftware.com>
Section: main
Description: RESTful api that provide possible actions with platform
